{
  "presets": [
    "react",
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": [
            "ff> 45", "chrome > 45", "ie > 9", "last 2 edge versions", "last 2 safari versions"
          ]
        }
      }
    ]
  ],
  "plugins": ["transform-class-properties"]
}