{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "standard",
    "standard-preact",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": [
    "import",
    "react"
  ]
}
