@import 'normalize.css';
@import 'fonts.css';
@import 'menu.css';
@import 'timer.css';
@import 'next.css';
@import 'btn.css';
@import 'helper.css';
:root {
  --brand-color: #123748;
  --bg-color: #fff;
  --header-height: 5rem;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #408edb;
}

html {
  color: var(--brand-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
  font-size: 1vw;
  font-family: 'Noto Serif', 'Times New Roman', Georgia, 'Inziu Iosevka SC',
    'Hiragino Sans GB', 'Microsoft YaHei', STXihei, Simhei, serif;
}

* {
  box-sizing: inherit;
}

#root > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/** site-header */

.site-header {
  background-color: rgba(238, 238, 238, 0.76);
  border-bottom: 1px solid #c0c0c0;
}

.site-title {
  font-size: 3rem;
  margin-left: 1.2em;
  white-space: nowrap;
  float: left;
}

/* equate height */

.site-title,
.menu .cover,
.site-header {
  line-height: var(--header-height);
}

/** site-footer */

.site-footer {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.5;
  padding: 1rem 0;
}

/** fa */

.fa-stack-1x {
  color: var(--bg-color);
}

.fa {
  cursor: pointer;
}

.fa-2x {
  color: inherit;
}

#root .fa-stack.fa-2x {
  font-size: 3.5rem;
}

/** fullscreen btn */

#fullscreen {
  font-size: 2.6rem;
  position: absolute;
  right: 0.5em;
  color: inherit;
  display: block;
  width: 2em;
  text-align: center;
  transition: transform 0.2s;
  &:hover {
    transform: rotate(90deg);
  }
}
