@import 'normalize.css';
@import 'fonts.css';
@import 'menu.css';
@import 'timer.css';
@import 'next.css';
@import 'btn.css';
@import 'helper.css';

:root {
    --brand-color: #123748;
    --bg-color: #fdfdfd;
    --header-height: 5vw;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #408edb;
}

html {
    color: var(--brand-color);
    background-color: var(--bg-color);
    font-size: 1.5vw;
    /*overflow-y: scroll;*/
    font-family: 'Noto Serif', 'Times New Roman', Georgia, 'Inziu Iosevka SC', 'Hiragino Sans GB', 'Microsoft YaHei', STXihei, Simhei, serif;
}

/* realize true footer */
#root {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/** site-header */
.site-header {
    background-color: #eee;
    border-bottom: 1px solid #c0c0c0;
}

.site-title {
    font-size: 3vw;
    margin-left: 1.2em;
    white-space: nowrap;
    float: left;
}

/* equate height */
.site-title, .menu .cover, .site-header {
    line-height: var(--header-height);
    height: var(--header-height);
}

.site-footer {
    text-align: center;
    margin-top: 3rem;
    line-height: 1.5;
}

/** fa */
.fa-stack-1x {
    color: var(--bg-color);
}

.fa {
    cursor: pointer;
}

#root .fa-stack.fa-2x {
    font-size: 3.5vw;
}

/** fullscreen btn */
#fullscreen {
    font-size: 2.6vw;
    position: absolute;
    right: .5em;
    color: inherit;
    display: block;
    width: 2em;
    text-align: center;
    transition: all .2s;
    &:hover {
        transform: rotate(90deg);
    }
}
