.next {
    margin: 2rem 0 0 0;
    text-align: center;
    & .button {
        font-size: 2.2rem;
        transition: opacity .3s;
        opacity: .7;
    }
    & .button:hover {
        opacity: 1;
    }
}
