.next {
    margin: 2vw 0 0 0;
    text-align: center;
    & .btn {
        user-select: none;
        font-size: 2.2vw;
        transition: all .3s;
        opacity: .7;
    }
    & .btn:hover {
        opacity: 1;
    }
}