@font-face {
    font-family: 'Inziu Iosevka SC';
    src: local('Inziu Iosevka SC'), url(../fonts/inziu.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Serif'), local('NotoSerif'), url(../fonts/notoserif.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html {
    color: #123748;
    background-color: #fdfdfd;
    font-size: 1.5vw;
    font-family: 'Noto Serif', 'Times New Roman', Georgia, 'Inziu Iosevka SC', 'Hiragino Sans GB', 'Microsoft YaHei', STXihei, Simhei, serif;
}

#root {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.timer {
    display: -webkit-flex;
    display: flex;
}

.site-header {
    background-color: #eee;
    border-bottom: 1px solid #c0c0c0;
}

.site-title {
    font-size: 3vw;
    margin-left: 1.2em;
    white-space: nowrap;
    float: left;
}

.site-title, .menu-btn,.site-header {
    line-height: 5vw;
    height: 5vw;
}

.site-footer {
    text-align: center;
}

#react .fa-stack.fa-2x {
    font-size: 3.5vw;
}

.fa-stack-2x {
    color: #173640;
}

.fa-stack-1x {
    color: #f6f6f6;
}

.clock {
    text-align: center;
    display: block;
    font-size: 15vw;
    margin: .3em 0;
}

.teamMeta.force-hide + .clock {
    font-size: 18vw
}

.control, .middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle {
    width: 11vw;
}

#turnBtn {
    font-size: 2.2vw;
}

#wrapper {
    margin: 2vw 0 0 0;
    text-align: center;
}

.meta {
    background-color: #0b2422;
    color: #fff;
}

.teamMeta > .teamName {
    margin: .3em 0 0 0;
}

.teamMeta {
    font-size: 5vw;
    margin: 0 0 0 8%;
}

.teamMeta .thought {
    font-size: .8em;
}

.right .teamMeta{
    text-align: right;
    margin: 0 8% 0 0;
}

.teamName > .meta {
    font-size: .5em;
}

.unselectable, .control, .clock, #turnBtn, .menu-btn {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.btn {
    border-radius: .4em;
    border: 1px solid #0b2422;
    display: inline-block;
    cursor: pointer;
    color: #0b2422;
    font-size: 1.25em;
    line-height: 1;
    padding: .8em;
    text-decoration: none;
}

.contain {
    flex: 1
}

.force-hide {
    display: none;
}

.fa-stack.hide {
    display: none;
}

.menu-container {
    font-size: 2.3vw;
    margin-right: 2em;
    float: right;
}

.menu-container:hover {
    background: -webkit-linear-gradient(hsla(0,0%,100%,.2), #fff);
    background: -o-linear-gradient(hsla(0,0%,100%,.2), #fff);
    background: linear-gradient(hsla(0,0%,100%,.2), #fff);
}

.menu-container > .menu {
    position: absolute;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 0 8px 18px rgba(0,0,0,.05);;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,.08);
}

.menu-container:hover > .menu {
    visibility: visible;
    z-index: 99;
}

.menu a, .menu-btn {
    color: inherit;
    text-decoration: none;
}

.menu a {
    font-size: .9em;
    padding: .7em;
    line-height: 1;
    display: block;
}

.menu a:hover {
    background: #ddeeff;
}

.menu-btn {
    font-size: 1em;
    padding: .5em 1em;
}

.menu-btn, .menu a, .fa {
    cursor: pointer;
}

#fullscreen {
    font-size: 2.6vw;
    position: absolute;
    right: .5em;
    color: rgba(18, 55, 72, 0.77);
}